<ion-content>
    <div>
        <ion-buttons>
            <ion-button routerLink="/login" routersDirection="back">
                <!--  enrutar a la otra vista -->
                <ion-icon slot="icon-only" name="arrow-round-forward"></ion-icon>
            </ion-button>
        </ion-buttons>
    </div>
    <div>
        <p><b>RUVI</b></p>
    </div>
    <div>
        <div>
            <img src="assets/icon/logo ruvi.png" alt="Logo RUVI">
        </div>
    </div>
    <div>
        <h1>UNIDOS SOMOS MÁS</h1>
    </div>
</ion-content>