ion-header {
    --ion-background-color: #00a9ea;
}

ion-content {
    --ion-background-color: #00a9ea;
}

h1 {
    color: #FFFFFF;
}

ion-header>ion-toolbar>ion-title {
    color: #FFFFFF;
    font-size: 6vw;
}

ion-header>ion-toolbar>ion-buttons>ion-button>ion-icon {
    color: #FFFFFF;
    width: 100%;
    height: 100%;
}

ion-grid {
    margin: 20vh 0vw 0vh 0vw;
}