<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button routerLink="/datos-personales" routersDirection="back">
                <!--  enrutar a la otra vista -->
                <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>Salud</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>

        <ion-item>
            <ion-label position="floating">EPS
                <ion-text color="danger"></ion-text>
            </ion-label>
            <ion-input [(ngModel)]="nombre_eps" required type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Regimen de Afiliacion</ion-label>
            <ion-select [(ngModel)]="regimen_afiliacion" required interface="popover">
                <ion-select-option value="Subsidiado">Subsidiado</ion-select-option>
                <ion-select-option value="Contributivo">Contributivo</ion-select-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <div>

        <ion-button (click)="saveForm()" type="submit" routerLink="/sitio-labor" routersDirection="forward">
            Guardar
        </ion-button>
    </div>

</ion-content>